snippet todo "todo note" b
// TODO(Jakob): 
endsnippet
snippet note "simple note" b
// NOTE(Jakob): 
endsnippet
snippet impo "important note" b
// IMPORTANT(Jakob): 
endsnippet
snippet stud "study reminder" b
// STUDY(Jakob): 
endsnippet
