snippet skel "html skel" b
<!DOCTYPE html>
<html>
<head>
	<title></title>
	<meta charset="UTF-8">
</head>
<body>

$0

</body>
</html>
endsnippet
snippet body "body tag" b
<body$0>
</body>
endsnippet
snippet script "script tag" b
<script$0>
</script>
endsnippet
snippet div "div tag" b
<div$0>
</div>
endsnippet
snippet br "br tag"
<br$0/>
endsnippet
