snippet skel "html skel" b
<!DOCTYPE html>
<html>
<body>

$0

</body>
</html>
endsnippet
snippet tbody "body tag" b
<body$0>
</body>
endsnippet
snippet tphp "newline php tag" b
<?php
	$0
?>
endsnippet
